* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 900px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.search-bar {
    border: 1px solid #ccc;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 100px auto;
    &:focus-within {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 3px #ccc;
    }
    input {
        border: none;
        outline: none;
        padding: 5px;
        font-size: 18px;
        flex: auto;
    }
    .actions {
        display: flex;
        gap: 10px;
        button {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;
            color: #999;
            &:hover {
                color: #333;
            }
        }
    }
}
