* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Mulish', sans-serif;
}


header {
    background-color: #14161A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 40px;

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fafaf5;

        img {
            height: 50px;
            background-color: rgba(255, 255, 255, 0.66);
            border-radius: 2px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(12.3px);
            -webkit-backdrop-filter: blur(12.3px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin-right: 10px;

            &:hover {
                transform: scale(1.1);
                transition: all 0.5s;
            }
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;

            li {
                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s;
                }

                a {
                    font-weight: 600;
                    padding-right: 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    color: #fafaf5;

                    &:hover {
                        color: gold;
                    }
                }
            }

            .input-container {
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                width: 250px;

                &:hover {
                    outline: 2px solid gold;
                }

                input {
                    caret-color: red;
                    padding: 10px;
                    border: none;
                    outline: none;
                    border-radius: 50px;
                }

                img {
                    height: 20px;
                }
            }
        }

    }
}




@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        nav {
            ul {
                padding: 10px;
    
                .input-container {
                    display: none;
                }
            }
        }
    }

    
}